.wy-side-nav-search, .wy-nav-top {
    background: #ffdda6;
}
.wy-nav-side{
    background: #32323c;
}
.logo {
    width: 100% !important;
}
.wy-body-for-nav {
    background: #ffdda6;
}
.wy-nav-content {
    margin: 0;
    background: #ffdda6;
}
@media screen and (min-width: 1100px){
    .wy-nav-content {
        margin: 0;
        background: #ffdda6;
    }
}
